/*Variables*/

:root {
    --bg-white: #FFFFFF;
    --basic-black: #000000;
    --dark-gray-text: #333333;
    --light-blue: #81B3D2;
    --ligth-blue-banner: #81B3D3;
    --bg-light-gray: #EEEEEE;
    --brown-bg-header-form: #766357;
    --gray-form: #F2F2F2;
    --blue-form-button: #81B3D2;
    --blue-form-button-focus: #669EC0;
    --blue-form-button-clicked: #5496BD;
    --brown-button-focus: #604E43;
    --brown-button-clicked: #503E33;
    --light-brown-banner: #766458;
    --light-gray-raiting-bg: #F2F2F2;
    --gray-raiting-text: #666666;
    --gray-footer-logo-focus: #BDBBBC;
    --gray-form: #A9A9A9;
    --gray-checkbox: #6A6A6A;
    --gray-divider: #E5E5E5;

    
    --bg-footer: rgba(255, 255, 255, 0.6);
}
* {
    box-sizing: border-box;
}
/* Global */
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    background-color: var(--bg-white);
    text-transform: uppercase;
    background-color: var(--bg-light-gray);
    background-position: top center;
    background-repeat: no-repeat;
}
img {
    max-width: 100%;
    height: auto;
    }
.page a {
    text-decoration: none;
}
.page {
    height: 100%;
}
.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
.main-wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    background-color: var(--bg-white);
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);;
}
/* Logo */
.main-header-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
/*Main navigation */
.main-nav {
    position: relative;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    font-weight: bold;
}
.site-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 73px;
    text-align: center;
    min-height: 55px;
    align-items: center;
}
.nav-left {
    text-align: left;
}
.nav-right {
    text-align: right;
}
.nav-state-map {
    margin-left: auto;
}
.site-nav li {
    width: 228px;
}
.site-nav a {
    color: var(--basic-black);
}
.site-nav a:hover {
    color: var(--blue-form-button);
}
.site-nav a:focus {
    color: var(--basic-black);
    opacity: 0.3;
}
.nav-active a {
    color: var(--brown-bg-header-form);
}

/* */
.text-intro {
    text-align: center;
    font-size: 21px;
    line-height: 26px; 
    color: var(--basic-black);
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.reasons {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    font-weight: normal;
    text-align: center;
    padding: 20px 0;
}
/* Welcome banner */
.main-banner {
    background: url("../img/background.jpg") no-repeat;
    width: 100%;
    height: 509px;
    position: relative;
}
section.main-banner::before {
    content: "";
    background-image: url("../img/Shape.svg");
    display: block;
    width: 100%;
    height: 57px;
    position: absolute;
    bottom: 0;
}
.welcome-pic {
    display: block;
    padding-top: 76px;
    margin: auto;
}
.intro {
    min-height: 216px;
    margin: 0;
    padding-top: 48px;
}
/* Features */
.feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 256px;
}
.feature-grid-pic-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 256px;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
}
.sedona-town-img {
    display: block;
}
.feature-grid-pic-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 256px;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
}
.devils-bridge-img {
    display: block;
}
.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.feature-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    min-height: 330px;
    margin-top: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    position: relative;
}
/* Icons Index */
.feature-icon-home::before {
    content: "";
    background-image: url(../img/icon-1.svg);
    display: block;
    width: 75px;
    height: 72px;
    position: absolute;
    top: 55px;
    left: 162px;
}
.feature-icon-food::before {
    content: "";
    background-image: url(../img/icon-3.svg);
    display: block;
    width: 75px;
    height: 70px;
    position: absolute;
    top: 55px;
    left: 562px;
}

.feature-icon-souvenirs::before {
    content: "";
    background-image: url(../img/icon-2.svg);
    display: block;
    width: 64px;
    height: 77px;
    position: absolute;
    top: 55px;
    right: 168px;
}
.feature-item-grid {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    min-height: 256px;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    background-color: var(--bg-light-gray);
}
.feature-item-w {
    background-color: var(--light-blue);
}
.item-name-w {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: var(--bg-white);
}
.item-number-w {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: var(--bg-white);
}
.item-text-w {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: var(--bg-white);
}
.feature-item {
    margin: 0;
    padding: 0; 
}
.item-name {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    font-weight: bold;
}
.item-text {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
    font-weight: normal;
   margin: 5px;
}
.item-number {
    font-size: 14px;
    line-height: 21px;
    color: var(--dark-gray-text);
    font-weight: normal;
}
.interested {
    width: 100%; 
    position: relative;
}
/* Reservation and Search Form */
.reservation-header {
    font-size: 30px;
    line-height: 24px;
    color: var(--basic-black);
    font-weight: bold;
    text-align: center;
}
.reservation-text {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
    font-weight: normal;
    text-align: center;
}
.hotel-search-header {
    font-size: 21px;
    line-height: 26px;
    color: var(--bg-white);
    font-weight: bold;
    background-color: var(--brown-bg-header-form);
    padding: 36px 138px;
    margin: 0 316px;
}
.form-item {
    position: relative;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
}
.form-item input {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--basic-black);
    border: none;
    background-color: var(--light-gray-raiting-bg);
    
}
.form-item input::placeholder {
    color: var(--basic-black);
}
.check-in-out {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.check-in-out input {
    width: 346px;
    height: 38px;
}
.calendar-button {
    position: absolute;
    left: 50%;
}
.kids-adult {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.kids-adult input {
    width: 114px;
    height: 38px;
}
.button-minus {
    width: 11px;
    height: 11px;
}
.hotel-search-header:hover {
    background-color: var(--brown-button-focus);
}
.hotel-search-header:focus {
  background-color: var(--brown-button-clicked);
  opacity: 0.3;
}
.map-index {
    position: relative;
}
.search-main-page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: absolute;
    background-color: var(--bg-white);
    margin-left: 315px;
}
.form-main-page {
    width: 568px;
    height: 395px;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    padding: 55px;
}
.search-button {
    font: inherit;
    color: var(--bg-white);
    background-color: var(--blue-form-button);
    border: none;
    vertical-align: middle;
    margin: 55px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    padding: 17px 197px;
}
.search-button:hover {
    background-color: var(--blue-form-button-focus);
}
.search-button:focus {
    background-color: var(--blue-form-button-clicked);
    opacity: 0.3;
}
/* Forms and filters*/
.filter {
    background-image: url("../img/background-filter.jpg");
    background-position: 0 80%;
    display: flex;
    min-height: 217px;
}
.filter fieldset {
    border: none;
    padding: 0;
}
.filter {
    display: flex;
    justify-content: space-between;
    padding: 30px 72px;
}
.filter legend {
    line-height: 21px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--bg-white);
}
.filter-checkbox::before {
    content: "";
    background-image: url("../img/checkbox-on.svg");
    width: 27px;
    height: 23px;
}
.filter ul {
    list-style: none;
    line-height: 21px;
    font-size: 14px;
    color: var(--bg-white);
  }
  .filter-input-checkbox:hover,
  .filter-input-checkbox:focus {
  color: var(--gray-checkbox);
}
.filter-item {
    padding: 0;
  }
  .filter-item legend {
      font-size: 16px;
      line-height: 21px;
      font-weight: bold;
      color: var(--bg-white);
      text-transform: uppercase;
  }
  .range-controls {
      position: relative;
  }
  .range-controls .scale {
    width: 316px;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
    margin-top: 10px;
  }
  .range-controls .bar {
    width: 248px;
    height: 2px;
    background: var(--bg-white);
  }
  .range-controls .toggle {
    width: 19px;
    height: 21px;
    padding: 0;
    border: 8px solid var(--bg-white);
    background-color: var(--light-gray-raiting-bg);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    position: absolute;
    cursor: pointer;
  }
  .price-controls label {
    line-height: 21px;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .price-controls input {
    font-family: inherit;
    font-size: inherit;
    width: 317px;
    height: 36px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background: transparent;
    color: var(--bg-white);
  }
  .show-button {
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    color: var(--bg-white);
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    width: 137px;
    height: 36px;
    background: transparent;
  }
  .show-button:hover {
      background-color: var(--bg-white);
      color: var(--basic-black);
  }
/* Catalog */
.catalog-section {
    margin: 0;
    padding: 0;
}
.sorted-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/* Hotels list */
.result {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    font-weight: bold;
    padding: 32px 47px 32px 73px;
    margin: 0;
}
.sorted {
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-black);
    font-weight: normal;
}
.sorted-by {
    font-size: 12px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
}
.sorted-by ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.sorted-by li {
    margin-right: 34px;
}
.sorted-inactive {
    border-bottom: 1px dashed var(--blue-form-button);
}
.sorted-active a {
    color: var(--blue-form-button);
}
.sorted-by a {
    color: var(--basic-black);
    opacity: 0.3;
}
.sorted-by a:hover {
    color: var(--blue-form-button);
}
.sorted-by a:focus {
    color: var(--basic-black);
}
.sorted-by a:active {
    color: var(--blue-form-button);
}
.up-and-down {
    display: flex;
    flex-wrap: wrap;
    width: 34px;
    justify-content: space-between;
    align-items: center;
}
.up a:hover path {
    fill: var(--basic-black);
}
.hotel-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.hotel-list-grid {
    display: grid;
    grid-template-columns: 135px 1fr 183px;
    column-gap: 30px;
    align-items: center;
    min-height: 133px;
    padding: 30px 70px;
    position: relative;
}
.hotel-list-grid::before {
    content: "";
    width: 1200px;
    height: 1px;
    background-color: var(--gray-divider);
    position: absolute;
    left: 0;
    top: -1px;
}
.hotel-list-grid::after {
    content: "";
    width: 1200px;
    height: 1px;
    background-color: var(--gray-divider);
    position: absolute;
    left: 0;
    bottom: 0;
}
.search-result {
    margin-bottom: 30;
}
.hotel-name a {
    color: var(--basic-black);
}
.hotel-name a:hover {
    color: var(--light-blue);
}
.hotel-name a:focus {
    color: var(--basic-black);
    opacity: 0.3;
}
.hotel-name {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    font-weight: bold;
    margin: 0;
}
.price {
    font-size: 14px;
    line-height: 21px;
    color: var(--dark-gray-text);
    font-weight: normal;
    margin: 0;
    padding: 6px 0 7px 0;
}
.price-from {
    margin-left: 40px;
}
.raiting {
    font-size: 14px;
    line-height: 21px;
    color: var(--gray-raiting-text);
    font-weight: normal;
    background-color: var(--bg-light-gray);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 47px;
    width: 110px;
    align-self: flex-end;
}
.raiting-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}
.raiting-stars {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.star {
    background-image: url("../img/star.svg");
    width: 19px;
    height: 17px;
    margin-left: 4px;
}

/* Hotel list buttons */
.more-book-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.more {
    font-size: 14px;
    line-height: 21px;
    color: var(--bg-white);
    font-weight: bold;
    background-color: var(--blue-form-button);
    padding: 7px 18px;
}
.more:hover {
    background-color: var(--blue-form-button-focus);
}
.more:focus {
    background-color: var(--blue-form-button-clicked);
    opacity: 0.3;
}
.book {
    font-size: 14px;
    line-height: 21px;
    color: var(--bg-white); 
    font-weight: bold;
    background-color: var(--brown-bg-header-form);
    margin-left: 6px;
    padding: 7px 18px;
}
.book:hover {
    background-color: var(--brown-button-focus);
}
.book:focus {
    background-color: var(--brown-button-clicked);
    opacity: 0.3;
}
/* Footer */
.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--bg-footer);
    min-height: 120px;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
}
/* Contacts */
.footer-contacts {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    font-weight: bold;
}

.footer-contacts a {
    color: var(--basic-black);
}
/* Social buttons */
.social {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.social a {
    color: var(--basic-black);
}
.social-button {
    display: block;
    padding-top: 15px;
}
a.social-button:hover {
    background-color: var(--blue-form-button-focus);
}
a.social-button:focus {
    background-color: var(--blue-form-button-focus);
    opacity: 0.3;
}
.social-icon {
    margin-left: 6px;
    background-color: var(--blue-form-button);
    width: 46px;
    height: 48px;
}
/* Copyright */
.copyright-button {
    margin-left: 5px;

}
a.copyright-button:hover path {
    fill: var(--light-blue);
}
a.copyright-button:focus path {
    fill: var(--gray-footer-logo-focus);
}
.footer-copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.copyright-text {
    margin-right: 8px;
    margin-top: 10px;
}
/* Additional */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }