/*Variables*/

:root {
    --bg-white: #FFFFFF;
    --basic-black: #000000;
    --dark-gray-text: #333333;
    --light-blue: #81B3D2;
    --ligth-blue-banner: #81B3D3;
    --bg-light-gray: #EEEEEE;
    --brown-bg-header-form: #766357;
    --gray-form: #F2F2F2;
    --blue-form-button: #81B3D2;
    --blue-form-button-focus: #669EC0;
    --blue-form-button-clicked: #5496BD;
    --brown-button-focus: #604E43;
    --brown-button-clicked: #503E33;
    --light-brown-banner: #766458;
    --light-gray-raiting-bg: #F2F2F2;
    --gray-raiting-text: #666666;
    --gray-footer-logo-focus: #BDBBBC;
    --gray-form: #A9A9A9;
    --gray-checkbox: #6A6A6A;
    --gray-divider: #E5E5E5;
    --range-controls-gray: rgba(255, 255, 255, 0.3);
    --gray-hover-form: #EBEBEB;

    
    --bg-footer: rgba(255, 255, 255, 0.6);

    --light-gray-shadow: #cfcfcf;
    --dark-gray-shadow: rgba(0, 1, 1, 0.15);
    --main-wrapper-shadow:  rgba(0, 1, 1, 0.2);
}
* {
    box-sizing: border-box;
}
/* Global */
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    background-color: var(--bg-white);
    text-transform: uppercase;
    background-color: var(--bg-light-gray);
    background-position: top center;
    background-repeat: no-repeat;
}
img {
    max-width: 100%;
    height: auto;
    }
.page a {
    text-decoration: none;
}
.page {
    height: 100%;
}
.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
.main-wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    background-color: var(--bg-white);
    box-shadow: 0px 5px 15px var(--main-wrapper-shadow);
}
/* Logo */
.main-header-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
/*Main navigation */
.main-nav {
    position: relative;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    font-weight: bold;
}
.site-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 73px;
    text-align: center;
    min-height: 56px;
    align-items: center;
}
.nav-left {
    text-align: left;
}
.nav-right {
    text-align: right;
}
.nav-state-map {
    margin-left: auto;
}
.site-nav li {
    width: 228px;
}
.site-nav a {
    color: var(--basic-black);
}
.site-nav a:hover,
.site-nav a:focus {
    color: var(--blue-form-button);
}
.site-nav a:active {
    color: var(--basic-black);
    opacity: 0.3;
}
.nav-active a {
    color: var(--brown-bg-header-form);
}

/* */
.text-intro {
    text-align: center;
    font-size: 21px;
    line-height: 26px; 
    color: var(--basic-black);
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.reasons {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    font-weight: normal;
    text-align: center;
    padding: 20px 0;
    margin-top: 23px;
}
/* Welcome banner */
.main-banner {
    background: url("../img/background.jpg") no-repeat;
    width: 100%;
    height: 509px;
    position: relative;
}
section.main-banner::before {
    content: "";
    background-image: url("../img/Shape.svg");
    display: block;
    width: 100%;
    height: 57px;
    position: absolute;
    bottom: 0;
}
.welcome-pic {
    display: block;
    padding-top: 76px;
    margin: auto;
}
.intro {
    min-height: 216px;
    margin: 0;
    padding-top: 42px;
}
/* Features */
.feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 256px;
}
.feature-grid-pic-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 256px;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
}
.sedona-town-img {
    display: block;
}
.feature-grid-pic-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 256px;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
}
.devils-bridge-img {
    display: block;
}
.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.feature-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    min-height: 330px;
    margin-top: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    position: relative;
}
/* Icons Index */
.feature-icon-home {
    display: block;
    padding-top: 55px;
}
.feature-icon-food {
    display: block;
    padding-top: 55px;
}
.feature-icon-souvenirs {
    display: block;
    padding-top: 55px;
}
.feature-icon-home::before {
    content: "";
    background-image: url("../img/icon-1.svg");
    display: block;
    width: 75px;
    height: 72px;
    position: absolute;
    top: 59px;
    left: 162px;
}
.feature-icon-food::before {
    content: "";
    background-image: url("../img/icon-3.svg");
    display: block;
    width: 75px;
    height: 70px;
    position: absolute;
    top: 59px;
    left: 562px;
}

.feature-icon-souvenirs::before {
    content: "";
    background-image: url("../img/icon-2.svg");
    display: block;
    width: 64px;
    height: 77px;
    position: absolute;
    top: 55px;
    right: 168px;
}
.feature-item-grid {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    min-height: 256px;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    background-color: var(--bg-light-gray);
}
.feature-item-w {
    background-color: var(--light-blue);
}
.item-name-w {
    margin: 0;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: var(--bg-white);
    margin-bottom: 20px;
    margin-top: 9px;
}
.item-number-w {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: var(--bg-white);
    margin: 9px;
}
.item-text-w {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: var(--bg-white);
}
.feature-item {
    margin: 0;
    padding: 0; 
}
.item-name {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    font-weight: bold;
    margin-bottom: 10px;
}
.item-text {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
    font-weight: normal;
    margin: 17px 5px 2px 5px;
    padding-top: 10px;
}
.item-number {
    font-size: 14px;
    line-height: 21px;
    color: var(--dark-gray-text);
    font-weight: normal;
}
.feature-blue-bg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.item-gray-bg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}
.item-gray-bg .item-name {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    font-weight: bold;
    margin: 0px;
}
.item-gray-bg .item-text {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.item-gray-bg .item-number {
    font-size: 14px;
    line-height: 21px;
    color: var(--dark-gray-text);
    font-weight: normal;
    margin: 25px;
}
.interested {
    width: 100%; 
    position: relative;
    margin-top: 58px;
}
/* Reservation and Search Form */

.reservation-header {
    font-size: 30px;
    line-height: 24px;
    color: var(--basic-black);
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-bottom: 33px;
}
.reservation-text {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
    font-weight: normal;
    text-align: center;
    margin: 0;
}
.hotel-search-header {
    display: block;
    font-size: 21px;
    line-height: 26px;
    color: var(--bg-white);
    font-weight: bold;
    background-color: var(--brown-bg-header-form);
    padding: 30px 139px;
    margin: 47px 317px 0 315px;
}
.form-item {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
}
.form-item input {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--basic-black);
    border: none;
    background-color: var(--light-gray-raiting-bg);
}
.form-item input::placeholder {
    color: var(--basic-black);
}
.kids-adult input::placeholder {
    color: var(--basic-black);
}
.form-item label {
    width: auto;
    margin-right: 25px;
}
.form-item-check-out {
    margin-top: 28px;
}
.check-in-out input {
    padding: 5px 10px;
    height: 38px;
    flex-grow: 1;
}
.check-in-out:hover input {
    background-color: var(--gray-hover-form);
}
.check-in-out:hover focus {
    background: var(--bg-white)
    border: 2px solid var(--gray-divider);
}
.calendar-button {
    height: 38px;
    width: 38px;
    border: none;
    position: absolute;
    right: 0;
    background-color: var(--light-gray-raiting-bg);
}
.calendar-button:hover path,
.calendar-button:focus path {
    fill: var(--basic-black)
}
.calendar-button:active path {
    fill: var(--light-blue)
}
.kids-adult {
    display: flex;
    align-items: center;
    margin-top: 9px;
    margin-bottom: 10px;
}
.kids-adult input {
    width: 40px;
    height: 38px;
    border: none;
    text-align: center;
    background: var(--light-gray-raiting-bg);
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    
}
.button-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 38px;
    border: none;
    background: var(--light-gray-raiting-bg);
}
.button-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 38px;
    border: none;
    background: var(--light-gray-raiting-bg);
}
.button-minus:hover path {
    fill: var(--basic-black);
}
.button-minus:active path {
    fill: var(--blue-form-button);
}
.button-plus:hover path {
    fill: var(--basic-black);
}
.button-plus:active path {
    fill: var(--blue-form-button);
}
.hotel-search-header:hover,
.hotel-search-header:focus {
    background-color: var(--brown-button-focus);
}
.hotel-search-header:active {
  background-color: var(--brown-button-clicked);
  opacity: 0.3;
}
.map-index {
    position: relative;
}
.search-main-page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: absolute;
    background-color: var(--bg-white);
    margin-left: 315px;
}
.form-main-page {
    display: flex;
    flex-direction: column;
    width: 568px;
    height: 395px;
    box-shadow: 0px 7px 15px var(--dark-gray-shadow);
    padding: 55px;
}
.plus-minus-wrapper {
    display: flex;
    height: 42px;
    margin-left: 10px;
}
.form-item-kids label {
    margin-left: 49px;
}
.search-button {
    font: inherit;
    color: var(--bg-white);
    background-color: var(--blue-form-button);
    border: none;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    padding: 17px 197px;
    margin-top: 36px;
}
.search-button:hover,
.search-button:focus {
    background-color: var(--blue-form-button-focus);
}
.search-button:active {
    background-color: var(--blue-form-button-clicked);
    opacity: 0.3;
}
/* Forms and filters*/
.filter {
    display: flex;
    padding: 19px 71px;
    background-image: url("../img/background-filter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 217px;
}
.filter fieldset {
    border: none;
    padding: 0;
}
.filter legend {
    line-height: 21px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--bg-white);
}
.filter ul {
    list-style: none;
    line-height: 21px;
    font-size: 14px;
    color: var(--bg-white);
    padding: 0;
  }
.filter-option {
      padding-top: 21px;
  }
.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    padding-left: 40px;
  }
.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.png");
    border-radius: 2px;
    left: 0px;
  }
.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    background-image: url("../img/checkbox-on.svg");
    width: 27px;
    height: 23px;
    left: 0px;
}
.filter-input-checkbox:disabled {
  color: var(--gray-checkbox);
}
.accomodation {
    margin-left: 110px;
} 
.filter-item {
    margin-left: auto;
  }
.filter-item legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: var(--bg-white);
    text-transform: uppercase;
}
.range-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 317px;
}
.range-controls {
    position: relative;
  }
.range-controls .scale {
    width: 316px;
    height: 2px;
    background: var(--range-controls-gray);
    margin-top: 10px;
  }
  .range-controls .bar {
    width: 248px;
    height: 2px;
    background: var(--bg-white);
    margin-top: 23px;
  }
  .range-controls .toggle {
    width: 19px;
    height: 21px;
    padding: 0;
    border: 8px solid var(--bg-white);
    background-color: var(--light-gray-raiting-bg);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--light-gray-shadow);
    position: absolute;
    cursor: pointer;
    top: 50%;
  }
  .range-controls .toggle:hover,
  .range-controls .toggle:focus {
    width: 23px;
    height: 24px;
    padding: 0;
    border: 8px solid var(--bg-white);
    background-color: var(--light-gray-raiting-bg);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--light-gray-shadow);
  }
  .range-controls .toggle-min {
      left: -1px;
  }
  .range-controls .toggle-max {
    left: 248px;
}
  .price-controls {
      display: flex;
      height: 36px;
      border: 2px solid var(--bg-white);
      border-radius: 2px; 
      width: 100%;
      justify-content: center;  
      align-items: center;
      margin-top: 15px;
  }
  .price-controls label {
    line-height: 21px;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--bg-white);
    display: flex;
    align-items: center;
    margin-left: 55px;
    position: relative;
  }
  .price-controls input {
    display: flex;
    font-family: inherit;
    font-size: inherit;
    border: none;
    background: transparent;
    color: var(--bg-white);
    align-items: center;
    width: 50%;
  }
  .price-controls::after {
    content: "";
    background: var(--bg-white);
    width: 2px;
    height: 22px;
    position: absolute;
    right: 20%;
    top: 128px;
  }
  .show-button {
    border: 2px solid var(--bg-white);
    border-radius: 2px;
    color: var(--bg-white);
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    width: 137px;
    height: 36px;
    background: transparent;
    margin: 35px 94px 3px auto;
  }
  .show-button:hover {
      background-color: var(--bg-white);
      color: var(--basic-black);
  }
/* Catalog */
.catalog-section {
    margin: 0;
    padding: 0;
}
.sorted-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 17px 73px;
}
/* Hotels list */
.result {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.sorted {
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-black);
    font-weight: normal;
    margin-left: 47px;
}
.sorted-by {
    font-size: 12px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.sorted-by ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.3;
}
.sorted-by li {
    margin-right: 33px;
}
.sorted-inactive {
    border-bottom: 1px dashed var(--blue-form-button);
}
.sorted-active a {
    color: var(--blue-form-button);
}
.sorted-by a {
    color: var(--basic-black);
}
.sorted-by a:hover {
    color: var(--blue-form-button);
}
.sorted-by a:focus {
    color: var(--basic-black);
}
.sorted-by a:active {
    color: var(--blue-form-button);
}
.up-and-down {
    display: flex;
    width: 34px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-top: 10px;
}
.up {
    margin-right: 12px;
}
.up:hover path,
.up:focus path{
    fill: var(--basic-black);
}
.down:hover path,
.down:focus path {
    fill: var(--basic-black);
}
.hotel-list {
    list-style: none;
    margin-top: 8px;
    padding: 0;
}
.hotel-list-grid {
    display: grid;
    grid-template-columns: 135px 1fr 183px;
    column-gap: 32px;
    align-items: center;
    min-height: 133px;
    padding: 30px 70px;
    position: relative;
    padding: 20px 70px;
}
.hotel-list-grid::before {
    content: "";
    width: 1200px;
    height: 1px;
    background-color: var(--gray-divider);
    position: absolute;
    left: 0;
    top: -1px;
}
.hotel-list-grid::after {
    content: "";
    width: 1200px;
    height: 1px;
    background-color: var(--gray-divider);
    position: absolute;
    left: 0;
    bottom: 0;
}
.search-result {
    margin-bottom: 30;
    align-self: flex-start;
}
.hotel-name a {
    color: var(--basic-black);
}
.hotel-name a:hover,
.hotel-name a:focus {
    color: var(--light-blue);
}
.hotel-name a:active {
    color: var(--basic-black);
    opacity: 0.3;
}
.hotel-name {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 0;
    width: 50%;
}
.price {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 21px;
    color: var(--dark-gray-text);
    font-weight: normal;
    margin: 8px 0 15px 0;
    padding: 0;
    width: 230px;
}
.price-from {
    width: 50%;
}
.raiting {
    font-size: 14px;
    line-height: 21px;
    color: var(--gray-raiting-text);
    font-weight: normal;
    background-color: var(--bg-light-gray);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 47px;
    width: 110px;
    align-self: flex-end;
}
.raiting-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}
.raiting-stars {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.star {
    background-image: url("../img/star.svg");
    width: 19px;
    height: 17px;
    margin-left: 5px;
}

/* Hotel list buttons */
.more-book-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.more {
    font-size: 14px;
    line-height: 21px;
    color: var(--bg-white);
    font-weight: bold;
    background-color: var(--blue-form-button);
    padding: 4px 17px;
}
.more:hover,
.more:focus {
    background-color: var(--blue-form-button-focus);
}
.more:active {
    background-color: var(--blue-form-button-clicked);
    opacity: 0.3;
}
.book {
    font-size: 14px;
    line-height: 21px;
    color: var(--bg-white); 
    font-weight: bold;
    background-color: var(--brown-bg-header-form);
    margin-left: 6px;
    padding: 4px 17px;
}
.book:hover,
.book:focus {
    background-color: var(--brown-button-focus);
}
.book:active {
    background-color: var(--brown-button-clicked);
    opacity: 0.3;
}
/* Footer */
.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--bg-footer);
    min-height: 125px;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
}
/* Contacts */
.footer-contacts {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    font-weight: bold;
    margin: -20px 0 0 73px;
}
.hashtag {
    margin: 0;
}
.phone-number {
    margin: 10px 0 0 0;
}
.footer-contacts a {
    color: var(--basic-black);
}

/* Social buttons */
.social {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
}
.social a {
    color: var(--basic-black);
}
.social-button {
    display: block;
    padding-top: 15px;
}
a.social-button:hover,
a.social-button:focus {
    background-color: var(--blue-form-button-focus);
}
a.social-button:active {
    background-color: var(--blue-form-button-focus);
    opacity: 0.3;
}
.social-icon a {
    margin-left: 6px;
    background-color: var(--blue-form-button);
    width: 46px;
    height: 48px;
}
/* Copyright */
.copyright-button {
    margin-left: 5px;

}
a.copyright-button:hover path,
a.copyright-button:focus path {
    fill: var(--light-blue);
}
a.copyright-button:active path {
    fill: var(--gray-footer-logo-focus);
}
.footer-copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 80px;
}
.copyright-text {
    margin-top: 9px;
    margin-right: 3px
    font-size: 14px;
    line-height: 26px;
}
/* Additional */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  /* Java Script Classes */
  .search-show {
    display: none;
}